# makefile flag files
.docker
.gear
.gear-run.txt
.*m
# created for 'fw-beta gear run'
input/
config.json*
# created by 'fw-beta gear run'
run.sh
.input_map.json
example/
.venv/
.creds
__pycache__/
PhantomQC.csv
PhantomQC.png
.R*
tempurature_log.xlsx
snr_wiki.log
*.zip
snr/hist_mode
snr/local_bin
output/*png
output/*json
helpers/*png
helpers/*csv
helpers/*pdf
